{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 80,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^@tarojs/(.*)$",
    "^@antmjs/(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "^[@/]",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],

  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-packagejson"
  ]
}
