@import url('@antmjs/vantui/lib/index.css');

.weui-tabbar__item span {
  display: flex !important;
  justify-content: center !important;
}

:root {
  --button-small-height: 20;
}

.aa {
  font-size: 100px;
  color: red;
}
